@import url(setting.css);
@import url(header_top.css);
@import url(footer.css);
@import url(account.css);
@import url(login.css);
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../style/fonts/raleway-v22-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../style/fonts/raleway-v22-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../style/fonts/raleway-v22-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../style/fonts/raleway-v22-latin_cyrillic-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../style/fonts/raleway-v22-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../style/fonts/raleway-v22-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../style/fonts/raleway-v22-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../style/fonts/raleway-v22-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --bgHeaderFooter: #313B44;
  --bgFound: #fff;
  --bgBlock: #EEEEEE;
  --BlackColorText: #000000;
  --WhiteColorText: #fff;
  --bgRed1: #CF6E5C;
  --bgRed2: #BE533F;
  --bgBlue: #4E689A;
}
.myRegulat__wrapper {
  width: calc(100% - 100px);
}
.myRegulat__container {
  margin-top: 5rem;
  margin-left: 4rem;
}
.myRegulat-container--column {
  flex-direction: column;
}
.myRegulat-container {
  display: flex;
}
.myRegulat-container__item_create-personal {
  max-width: 959px;
}
.myRegulat-container__item_prev-vers {
  margin-left: 3rem;
}
.myRegulat-container__item_right {
  width: 100%;
}
.myRegulat-container__item_mr {
  margin-right: 7rem;
}
.myRegulat-container__personalCard {
  width: 30rem;
  padding: 5rem 4.6rem 5rem 3rem;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px 2px #dfdddd;
  display: flex;
  flex-direction: column;
}
.myRegulat-container__block {
  width: 100%;
  display: flex;
  justify-content: center;
}
.myRegulat-container__avatar {
  background-color: var(--bgHeaderFooter);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 2rem;
}
.myRegulat-container__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: inherit;
}
.myRegulat-container__personalData {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myRegulat-container__name {
  color: var(--BlackColorText);
  font-size: 2.4em;
  line-height: 2.8rem;
  padding: 0rem 1rem;
  margin-bottom: 2rem;
  display: block;
  text-align: center;
}
.myRegulat-container__position,
.myRegulat-container__work {
  color: var(--BlackColorText);
  font-size: 1.4em;
  line-height: 1.6rem;
  display: block;
}
.myRegulat-container__work {
  margin-bottom: 1rem;
}
.myRegulat-container__position {
  margin-bottom: 3rem;
}
.myRegulat-container__form {
  position: relative;
  width: 773px;
  margin-bottom: 3rem;
}
.myRegulat-container__list {
  display: flex;
  flex-direction: column;
}
.myRegulat-container-createRegulat__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myRegulat-container-createRegulat__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.myRegulat-container-createRegulat__qty,
.myRegulat-container-createRegulat__title {
  color: var(--BlackColorText);
  font-size: 1.4em;
  line-height: 1.6rem;
  display: block;
}
.myRegulat-container-createRegulat__qty {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.search-form__input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #EFEFEF;
  padding: 1rem 5rem 1rem 3rem;
  border: none;
  border-radius: 9px;
  color: var(--BlackColorText), 0.6%;
  font-size: 1.8em;
}
.search-form__searchsubmit {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
}
.search-form__searchsubmit:hover {
  cursor: pointer;
}
.myRegulat-container-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 773px;
}
.myRegulat-container-list__title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400 !important;
}
.myRegulat-container-list__block {
  width: 100%;
  background-color: var(--bgBlock);
  border-radius: 7px;
  margin-bottom: 5rem;
}
.myRegulat-container-list__block_brsNone {
  border-radius: 0;
}
.myRegulat-container-list__container {
  padding: 3rem 3rem 5rem 3rem;
}
.myRegulat-container-list__container_prev-vers {
  padding: 2rem 1.3rem 0rem 1.3rem;
}
.myRegulat-container-list__link {
  display: flex;
  color: #242830;
  font-size: 2.4em;
  line-height: 2.8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.myRegulat-container-list__addIcon {
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--bgBlue);
  position: relative;
  margin-left: 1.5rem;
}
.myRegulat-container-list__addIcon::before {
  content: '';
  display: block;
  background-image: url(img/add-regular.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}
.myRegulat-container-list__total-regul {
  font-size: 1.8em;
  color: var(--BlackColorText);
  line-height: 2.1rem;
  margin-bottom: 2rem;
}
.myRegulat-container-list__regulat {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  padding-right: 2rem;
  max-height: 48.3rem;
}
.myRegulat-container-list__regulat::-webkit-scrollbar {
  width: 6px;
  height: 200px;
}
.myRegulat-container-list__regulat::-webkit-scrollbar-track {
  width: 12px;
  background: #f3f3f3;
  border: 0.5px solid #9D9D9D;
  box-sizing: border-box;
  border-radius: 10px;
}
.myRegulat-container-list__regulat::-webkit-scrollbar-thumb {
  background: var(--bgBlue);
  border-radius: 10px;
}
.myRegulat-container-list__item {
  display: flex;
  flex-direction: column;
}
.myRegulat-container-list__item:not(:last-child) {
  padding-bottom: 3rem;
  border-bottom: 0.2px solid #00000036;
}
.myRegulat-container-list__item:not(:first-child) {
  margin-top: 3rem;
}
.myRegulat-container-list__item_borderNone {
  border: none;
}
.myRegulat-container-list__item_borderNone:not(:last-child) {
  margin-bottom: 3rem;
}
.myRegulat-container-list__block_create-personal-borderNone {
  border-radius: 0;
}
.myRegulat-container-list__container_pdg {
  padding: 3rem 3rem;
}
.myRegulat-container-list-item {
  display: flex;
}
.myRegulat-container-list-item__title {
  font-size: 2.4em;
  color: var(--BlackColorText);
  line-height: 2.8rem;
  display: flex;
}
.myRegulat-container-list-item__docIcon {
  width: 18px;
  height: 23px;
  display: inline-block;
  background-image: url(img/docsvg.svg);
  background-size: 18px 23px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1rem;
}
.myRegulat-container-list-item__options {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.myRegulat-container-list-item__vers {
  font-size: 1.4em;
  line-height: 1.6rem;
  color: var(--BlackColorText);
  margin-left: 2.5rem;
}
.myRegulat-container-list-item__status {
  font-size: 1.6em;
  line-height: 1.9rem;
  color: var(--WhiteColorText);
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  background-color: var(--bgRed1);
  margin-left: 3.9rem;
}
.myRegulat-container-list-item__status_reg {
  padding: 0.5rem 2.8rem;
  background-color: var(--bgBlue);
  font-size: 1.4em;
  line-height: 1.6rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.myRegulat-container-list-item__mode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  line-height: 1.6rem;
  color: var(--BlackColorText);
  margin-left: 3rem;
}
.myRegulat-container-list-item__file {
  width: 29px;
  height: 35px;
  display: inline-block;
  margin-left: 3rem;
}
.myRegulat-container-list-item .myRegulat-pdf {
  background-image: url(img/pdf.png);
  background-size: 33px 35px;
  background-repeat: no-repeat;
  background-position: center;
}
.myRegulat-container-list-item .myRegulat-word {
  background-image: url(img/doc.png);
  background-size: 33px 35px;
  background-repeat: no-repeat;
  background-position: center;
}
.create-personal-data {
  display: flex;
  align-items: center;
}
.create-personal-data__name {
  font-size: 2.4em;
  line-height: 2.8rem;
  color: var(--BlackColorText);
  margin-right: 2rem;
}
.create-personal-data__name_mnull {
  margin-right: 0;
}
.create-personal-data__input {
  width: 696px;
  background-color: var(--bgFound);
  border-radius: 5px;
  box-sizing: border-box;
  border: 0.5px solid #000000;
  padding: 0.5rem 2rem;
  font-size: 2.4em;
  line-height: 2.8rem;
  color: var(--BlackColorText);
}
.create-personal-data__input_nameInputReg {
  width: 610px;
  background-color: #eeeeee;
  border: none;
  border-radius: none;
}
.create-personal-data__input_namePersonal {
  background-color: #eee;
  border: none;
  border-radius: none;
}
.create-personal-data__link {
  color: #1855CB;
  font-size: 2.4em;
  line-height: 2.8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.create-personal-data__date {
  display: flex;
  align-items: center;
  font-size: 2.4em;
  line-height: 2.8rem;
  color: var(--BlackColorText);
}
.create-personal-data__time {
  display: block;
  margin-left: 2rem;
}
.create-personal-data__status {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2.3em;
  line-height: 2.7rem;
  color: var(--BlackColorText);
}
.create-personal-data--pl {
  padding-left: 2rem;
}
.prev-vers__title {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 2.8rem;
  margin-bottom: 2rem;
  padding: 0rem 3rem;
}
.prev-vers__item {
  min-height: 296px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.prev-vers__item::before {
  content: '';
  width: 1px;
  height: inherit;
  background-color: #000;
  display: block;
  min-height: 296px;
  position: absolute;
  top: 0;
  left: 45%;
}
.prev-vers__item:not(:last-child) {
  border-right: 1px solid #000;
  margin-right: 2rem;
}
.prev-vers__point,
.prev-vers__header {
  display: flex;
}
.prev-vers__subtitle {
  font-size: 1.8em;
  line-height: 2.1rem;
  color: var(--BlackColorText);
  text-align: center;
  display: block;
  min-height: 4.2rem;
  width: 50%;
}
.prev-vers__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.prev-vers__point {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 2.1rem;
  color: var(--BlackColorText);
  text-align: center;
  width: 100%;
}
.prev-vers__date,
.prev-vers__ver {
  width: 50%;
  display: block;
}
.active-content {
  transform: scaleY(0) !important;
}
.constRegulat__headerDoc {
  background-color: var(--bgBlock);
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 0rem;
  transition: all 0.4s;
  transform-origin: top;
  transform: scaleY(1);
}
.constRegulat__container {
  padding: 3rem 5rem 5rem 5rem;
  max-height: 1200px;
  overflow-x: auto;
}
.constRegulat__container::-webkit-scrollbar {
  width: 6px;
  height: 50px;
}
.constRegulat__container::-webkit-scrollbar-track {
  width: 12px;
  background: #f3f3f3;
  border: 0.5px solid #9D9D9D;
  box-sizing: border-box;
  border-radius: 10px;
}
.constRegulat__container::-webkit-scrollbar-thumb {
  background: var(--bgBlue);
  border-radius: 10px;
}
.constRegulat__form_mb100 {
  margin-bottom: 10rem;
}
.constRegulat__form_mb78 {
  margin-bottom: 7.8rem;
}
.constRegulat-form__headerDoc {
  margin-bottom: 4rem;
}
.constRegulat-form__blockBtn {
  display: flex;
  margin-left: 10rem;
}
.constRegulat-form__blockBtn_mt2 {
  margin-top: 2rem;
}
.constRegulat-form__blockBtn_mt3 {
  margin-top: 3rem;
}
.constRegulat-form-headerDoc {
  display: flex;
  flex-direction: column;
}
.constRegulat-form-headerDoc__container_adminReg {
  padding: 2rem 5rem 3rem 3rem;
}
.constRegulat-form-headerDoc__title {
  font-size: 3em;
  line-height: 3.5rem;
  color: var(--BlackColorText);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}
.constRegulat-form-headerDoc__title_center {
  text-align: center;
}
.constRegulat-form-headerDoc__area {
  width: 100%;
  border: 0.5px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}
.constRegulat-form-headerDoc__area_antherHeight {
  flex-direction: column;
}
.constRegulat-form-headerDoc__headerText {
  width: 500px;
  box-sizing: border-box;
  padding: 0;
  height: inherit;
  border: none;
  text-align-last: left;
  font-size: 1.8em;
  margin: 2rem 1rem 0rem;
}
.constRegulat-form-headerDoc__string {
  display: flex;
}
.constRegulat-form-headerDoc__string:not(:last-child) {
  margin-bottom: 0.5rem;
}
.constRegulat-form-headerDoc__ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.constRegulat-form-headerDoc__item {
  margin-bottom: 6rem;
}
.constRegulat-form-headerDoc-string__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 2.1rem;
  color: var(--BlackColorText);
  margin-right: 1.3rem;
}
.constRegulat-form-headerDoc-string__title_font400 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  word-break: break-all;
}
.constRegulat-form-headerDoc-string__input {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid #000000;
  font-size: 1.8em;
  line-height: 2.1rem;
}
.constRegulat-form-headerDoc-string__input::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: var(--BlackColorText);
  font-size: 16px;
  line-height: 1.9rem;
}
.constRegulat-form-headerDoc-string__input_width40 {
  width: 40%;
}
.constRegulat-form-headerDoc-string__input_width93 {
  width: 93%;
}
.constRegulat-form-headerDoc-string__input_width95 {
  width: 95%;
}
.constRegulat-form-headerDoc-string__input_width33 {
  width: 33%;
}
.constRegulat-form-headerDoc-string__input_width42 {
  width: 42%;
}
.constRegulat-form-headerDoc-string--db {
  display: block;
}
.name-service,
.name-org {
  box-sizing: border-box;
  padding: 0;
}
.constRegulat-form-blockBtn__btn {
  padding: 1rem 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--WhiteColorText);
}
.constRegulat-form-blockBtn__btn_save {
  background-color: var(--bgBlue);
  margin-right: 2rem;
}
.constRegulat-form-blockBtn__btn_tab {
  background-color: var(--bgHeaderFooter);
}
.constRegulat-form-blockBtn__btn_tab:hover {
  background-color: #4d5f6e;
}
.constRegulat-form-blockBtn .accardion_triger.active {
  background-color: var(--bgBlue);
}
.constRegulat-form-blockBtn__btn_addPoint {
  background-color: transparent;
  border: 1px solid var(--bgBlue);
  color: var(--bgBlue);
  margin-right: 2rem;
}
.constRegulat-form-blockBtn__btn_removePoint {
  background-color: var(--bgRed1);
}
.send-aprev__form {
  display: flex;
  margin-left: 10rem;
  border-radius: 7px;
  border: 1px solid #000000;
  overflow: hidden;
  margin-bottom: 10rem;
}
.send-aprev__email {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 1.1rem 3rem;
  font-size: 2.4em;
  line-height: 2.8rem;
  color: var(--BlackColorText);
  width: 85%;
  border: none;
}
.send-aprev__btn_send {
  border-radius: 0;
  background-color: #F4F4F4;
  color: var(--BlackColorText);
  width: 15%;
  border-left: 2px solid #000000;
  font-size: 2.4em;
  line-height: 2.8rem;
}
.send-aprev__btn_send:hover {
  color: var(--WhiteColorText);
}
