<section class="myAccaunt">
 <div class="wrapper myAccaunt__wrapper">
  <div class="section-header section-header--mt">
   <h2 class="section-header__title">Личный кабинет</h2>
  </div>
  <div class="myAccaunt__block">
   <forum class="myAccaunt-form myAccaunt__form">
    <div class="myAccaunt-form__column">
     <div class="myAccaunt-form__mainItem">
      <div class="myAccaunt-form__item">
       <h3 class="myAccaunt-form__title">Персональная информация</h3>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Фамилия</label><input type="text" class="myAccaunt-form__input">
       </div>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Имя</label><input type="text" class="myAccaunt-form__input">
       </div>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Отчество</label><input type="text" class="myAccaunt-form__input">
       </div>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Дата рождения</label><input type="text"
         class="myAccaunt-form__input">
       </div>
      </div>
      <div class="myAccaunt-form__item">
       <h3 class="myAccaunt-form__title">Данные сотрудника</h3>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Название организации</label><input type="text"
         class="myAccaunt-form__input">
       </div>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Подразделение</label><input type="text"
         class="myAccaunt-form__input">
       </div>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Должность</label><input type="text" class="myAccaunt-form__input">
       </div>
      </div>
     </div>
     <div class="myAccaunt-form__mainItem">
      <div class="myAccaunt-form__item myAccaunt-form__item_mb">
       <h3 class="myAccaunt-form__title myAccaunt-form__title_mb">Фото профиля</h3>
       <div class="myAccaunt-form__blockImg">
        <img src="/style/img/png-clipart-indian-elephant-drawing-animal-locomotion-blue-mammal.png" alt="Фото профиля"
         class="myAccaunt-form__img">
       </div>
      </div>
      <div class="myAccaunt-form__item">
       <h3 class="myAccaunt-form__title">Контактная информация</h3>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Телефон</label><input type="text" class="myAccaunt-form__input">
       </div>
       <div class="myAccaunt-form__blockInput  ">
        <label for="#" class="myAccaunt-form__label">Электронная почта</label><input type="text"
         class="myAccaunt-form__input">
       </div>
      </div>
     </div>
    </div>
    <div class="myAccaunt-form__column myAccaunt-form__column_right">
     <button type="submit" class="btn myAccaunt-form__btn myAccaunt-form__btn_red">Отменить</button>
     <button type="submit" class="btn myAccaunt-form__btn myAccaunt-form__btn_blue">Сохранить</button>
    </div>
   </forum>
  </div>
 </div>
</section>