<section class="myRegulat">
 <div class="wrapper myRegulat__wrapper">
  <div class="section-header section-header--font700">
   <h2 class="section-header__title section-header__title_font700">Создатель регламента</h2>
  </div>
  <div class="myRegulat-container">
   <div class="myRegulat-container__item myRegulat-container__item_create-personal">
    <div class="create-personal">
     <div class="myRegulat-container-list">
      <div class="myRegulat-container-list__block myRegulat-container-list__block_create-personal-borderNone">
       <div class="myRegulat-container-list__container myRegulat-container-list__container_pdg">
        <ul class="myRegulat-container-list__regulat">
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><label for="#"
            class="create-personal-data__name">Ваши Ф.И.О.</label><input type="text" class="create-personal-data__input"
            placeholder="Иванов Иван Иванович"></div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><label for="#"
            class="create-personal-data__name create-personal-data__name_mnull">Регламент:</label><input type="text"
            class="create-personal-data__input create-personal-data__input_nameInputReg" value="Новый регламент 6"
            disabled> <a href="#" class="create-personal-data__link">Переименовать</a></div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><span class="create-personal-data__name">Дата
            создания:</span>
           <div class="create-personal-data__date">02.10.2020<span class="create-personal-data__time">10:47</span></div>
          </div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><span
            class="create-personal-data__name">Статус:</span><span class="create-personal-data__status">Черновик</span>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="myRegulat-container__item myRegulat-container__item_prev-vers">
    <div class="prev-vers ">
     <div class="myRegulat-container-list">
      <div class="myRegulat-container-list__block">
       <div class="myRegulat-container-list__container myRegulat-container-list__container_prev-vers">
        <span class="prev-vers__title">Предыдущие версии</span>
        <div class="prev-vers__block">
         <div class="prev-vers__item">
          <div class="prev-vers__header">
           <span class="prev-vers__subtitle">Версия</span>
           <span class="prev-vers__subtitle">Дата изменения</span>
          </div>
          <ul class="prev-vers__ul">
           <li class="prev-vers__point">
            <span class="prev-vers__ver">1</span>
            <div class="prev-vers__date">03.10.2020 12:50</div>
           </li>
           <li class="prev-vers__point">
            <span class="prev-vers__ver">1</span>
            <div class="prev-vers__date">03.10.2020 12:50</div>
           </li>
           <li class="prev-vers__point">
            <span class="prev-vers__ver">1</span>
            <div class="prev-vers__date">03.10.2020 12:50</div>
           </li>

          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<section class="constRegulat">
 <div class="wrapper myRegulat__wrapper">
  <div class="section-header section-header--font700">
   <h2 class="section-header__title section-header__title_font700">Конструктор регламента</h2>
  </div>
  <div class="accardion myRegulat-container myRegulat-container--column">

   <form action="#" name="constRegulatForm" class="accardion-item constRegulat__form constRegulat-form">
    <div class="accardion-content constRegulat__headerDoc">
     <div class="constRegulat__container">
      <div class="constRegulat-form-headerDoc constRegulat-form__headerDoc">

       <label for="#" class="constRegulat-form-headerDoc__title">Шапка документа</label>
       <div class="constRegulat-form-headerDoc__area">
        <div class="constRegulat-form-headerDoc__container">
         <textarea name="headerText" id="headerText" cols="30" rows="10"
          placeholder="Текстовое поле, а если оно заполнено, то заполненый текст выводится сюда"
          class="constRegulat-form-headerDoc__headerText"></textarea>
        </div>
       </div>
      </div>
      <div class="constRegulat-form-headerDoc">

       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center">АДМИНИСТРАТИВНЫЙ
        РЕГЛАМЕНТ</label>
       <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
        <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
         <div class="constRegulat-form-headerDoc__string constRegulat-form-headerDoc-string">
          <span class="constRegulat-form-headerDoc-string__title">предоставления</span><input type="text"
           placeholder="(наименование  органа)" class="constRegulat-form-headerDoc-string__input name-org">
         </div>
         <div class="constRegulat-form-headerDoc__string constRegulat-form-headerDoc-string">
          <span class="constRegulat-form-headerDoc-string__title">услуги</span><input type="text"
           placeholder="(наименование услуги)" class="constRegulat-form-headerDoc-string__input name-service">
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="constRegulat-form__blockBtn constRegulat-form__blockBtn_mt3 constRegulat-form-blockBtn"><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_save"
      type="submit">Сохранить</button><button name="#constRegulatForm"
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_tab accardion-triger">Свернуть</button>
    </div>
   </form>
   <div class="section-header section-header--mt7">
    <h2 class="section-header__title section-header__title_font700">Основной текст</h2>
   </div>
   <form action="#" class="accardion-item constRegulat__form constRegulat-form constRegulat__form_mb100">
    <div class="accardion-content constRegulat__headerDoc">
     <div class="constRegulat__container">
      <div class="section-header">
       <h2 class="section-header__title section-header__title_fz24">1. Общие положения</h2>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24">1.1
        Предмет регулирования Административного регламента</label>
       <ul class="oneP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">1.1.1.</span> Административный регламент
             предоставления администрацией
            </span><input type="text" placeholder="(наименование  органа)" class="constRegulat-form-headerDoc-string__input
        constRegulat-form-headerDoc-string__input_width40 name-org">
           </div>
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400">услуги</span><input
             type="text" placeholder="(наименование услуги)"
             class="constRegulat-form-headerDoc-string__input name-service constRegulat-form-headerDoc-string__input_width93">
            <span class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400">
             (далее соответственно - услуга, Регламент) определяет стандарт, сроки и последовательность выполнения
             административных процедур (действий) по предоставлению администрацией</span><input type="text"
             placeholder="(наименование органа)"
             class="constRegulat-form-headerDoc-string__input constRegulat-form-headerDoc-string__input_width42 name-service">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400">услуги</span><input
             type="text" placeholder="(наименование услуги)"
             class="constRegulat-form-headerDoc-string__input name-service constRegulat-form-headerDoc-string__input_width93">
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24">1.2.
        Круг заявителей</label>
       <ul class="one-twoP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">1.2.1.</span> Заявителями на получение муниципальной
             услуги являются либо их уполномоченные представители, выступающие от их имени, обратившиеся с заявлением о
             предоставлении муниципальной услуги (далее - Заявители).
            </span>
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24">1.3.
        Требования к порядку информирования о предоставлении муниципальной услуги</label>
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="one-threeP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">1.3.1.</span> Порядок получения информации
             Заявителями по вопросам предоставления услуги и услуг, которые являются необходимыми и обязательными для
             предоставления услуги, сведений о ходе предоставления указанных услуг, в том числе на официальном сайте, а
             также в федеральной государственной информационной системе "Единый портал государственных и муниципальных
             услуг (функций)" (www.gosuslugi.ru) (далее – Единый портал) и на Портале государственных и муниципальных
             услуг (функций) (www.pgu..ru) (далее – Региональный портал).</span>
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
        <li class="one-three__twoP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">1.3.2.</span> Порядок, форма, место размещения и
             способы получения справочной информации, в том числе на стендах в местах предоставления муниципальной
             услуги и услуг, которые являются необходимыми и обязательными для предоставления муниципальной услуги, и в
             государственном автономном учреждении "Многофункциональный центр предоставления государственных и
             муниципальных услуг" (далее – МФЦ).</span>
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <ul class="constRegulat-form-headerDoc__ul">

       </ul>
      </div>
     </div>
    </div>
    <div class="constRegulat-form__blockBtn constRegulat-form__blockBtn_mt3 constRegulat-form-blockBtn"><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_save" type="submit">Сохранить
      раздел</button><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_tab accardion-triger">Свернуть
      раздел</button></div>
   </form>
   <form action="#" class="accardion-item constRegulat__form constRegulat-form constRegulat__form_mb100">
    <div class="accardion-content constRegulat__headerDoc">
     <div class="constRegulat__container">
      <div class="section-header">
       <h2 class="section-header__title section-header__title_fz24">2. Стандарт предоставления муниципальной услуги</h2>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24">2.1.
        Наименование муниципальной услуги</label>
       <ul class="fiersP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">2.1.1.</span></span><input type="text" class="constRegulat-form-headerDoc-string__input
        constRegulat-form-headerDoc-string__input_width95 name-org">
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24">2.2.
        Наименование органа, предоставляющего муниципальную услугу</label>
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="two-oneP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">2.2.1.</span> Предоставление муниципальной услуги
             осуществляется администрацией</span><input type="text" class="constRegulat-form-headerDoc-string__input
       constRegulat-form-headerDoc-string__input_width33 name-org"><input type="text"
             class="constRegulat-form-headerDoc-string__input name-org">
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
        <li class="two-twoP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form-headerDoc__area constRegulat-form-headerDoc__area_antherHeight">
          <div class="constRegulat-form-headerDoc__container constRegulat-form-headerDoc__container_adminReg">
           <div class="constRegulat-form-headerDoc-string constRegulat-form-headerDoc-string--db">
            <span
             class="constRegulat-form-headerDoc-string__title constRegulat-form-headerDoc-string__title_font400"><span
              class="constRegulat-form-headerDoc-string__paragraph">2.2.2.</span> При предоставлении муниципальной
             услуги Уполномоченным органом осуществляет взаимодействие с:</span><input type="text"
             placeholder="наименование органов" class="constRegulat-form-headerDoc-string__input
       constRegulat-form-headerDoc-string__input_width33 name-org"><input type="text"
             placeholder="исполнительной власти, иных органов местного самоуправления, а также организаций, обращение в которые необходимо для предоставления  услуги)."
             class="constRegulat-form-headerDoc-string__input name-org">
           </div>
          </div>
         </div>
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.3.</span> Описание результата предоставления
        муниципальной услуги</label>
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.4.</span> Срок предоставления муниципальной услуги, в
        том числе с учетом необходимости обращения
        в организации, участвующие в предоставлении муниципальной услуги, срок приостановления предоставления
        муниципальной услуги в случае, если возможность приостановления предусмотрена законодательством Российской
        Федерации, срок выдачи (направления) документов, являющихся результатом предоставления муниципальной
        услуги</label>
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="firstP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.5.</span> Нормативные правовые акты, регулирующие
        предоставление муниципальной услуги</label>
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="firstP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.6.</span> Исчерпывающий перечень документов,
        необходимых в соответствии с нормативными правовыми актами для предоставления муниципальной услуги и услуг,
        которые являются необходимыми и обязательными для предоставления муниципальной услуги, подлежащих представлению
        заявителем, способы их получения заявителем, в том числе в электронной форме, порядок их представления</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.7.</span> Исчерпывающий перечень документов,
        необходимых в соответствии с нормативными правовыми актами для предоставления муниципальной услуги, которые
        находятся в распоряжении государст- венных органов, органов местного самоуправления и иных органов, участвующих
        в предоставлении государственных и муниципальных услуг, и которые заявитель вправе представить, а также способы
        их получения заявителями, в том числе в электронной форме, порядок их представления</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.8.</span> Указание на запрет требовать от
        заявителя</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.9.</span> Исчерпывающий перечень оснований для отказа в
        приеме документов, необходимых для предоставления муниципальной услуги</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.10.</span> Исчерпывающий перечень оснований для
        приостановления или отказа в предоставлении муниципальной услуги</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.11.</span> Перечень услуг, которые являются
        необходимыми и обязательными для предоставления муниципальной услуги,в том числе сведения о документе
        (документах), выдаваемом (выдаваемых) организациями, участвующими в предоставлении муниципальной услуги</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.12.</span> Порядок, размер и основания взимания
        государственной пошлины или иной платы, взимаемой за предоставление муниципальной услуги</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.13.</span> Порядок, размер и основания взимания платы
        за предоставление услуг, которые являются необходимыми и обязательными для предоставления муниципальной услуги,
        включая информацию о методике расчета размера такой платы</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.14.</span> Максимальный срок ожидания в очереди при
        подаче запроса о предоставлении муниципальной услуги, услуги, предоставляемой организацией, участвующей в
        предоставлении муниципальной услуги,
        и при получении результата предоставления таких услуг</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.15.</span> Срок и порядок регистрации запроса заявителя
        о предоставлении муниципальной услуги и услуги, предоставляемой организацией, участвующей в предоставлении
        муниципальной услуги, в том числе
        в электронной форме</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.16.</span> Требования к помещениям, в которых
        предоставляется Муниципальная услуга, к залу ожидания, местам для заполнения запросов о предоставлении
        Муниципальной услуги, информационным стендам с образцами их заполнения и перечнем документов, необходимых для
        предоставления Муниципальной услуги, в том числе к обеспечению доступности для инвалидов указанных
        объектов</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.17.</span> Показатели доступности и качества
        Муниципальной услуги </label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.18.</span> Требования к организации предоставления
        Муниципальной услуги в электронной форме </label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
      <div class="constRegulat-form-headerDoc">
       <label for="#"
        class="constRegulat-form-headerDoc__title constRegulat-form-headerDoc__title_center section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">2.19.</span> Требования к организации предоставления
        Муниципальной услуги МФЦ</label>
       <ul class="firstP constRegulat-form-headerDoc__ul">
        <li class="constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="constRegulat-form__blockBtn constRegulat-form__blockBtn_mt3 constRegulat-form-blockBtn"><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_save" type="submit">Сохранить
      раздел</button><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_tab accardion-triger">Свернуть
      раздел</button></div>
   </form>
   <form action="#" class="accardion-item constRegulat__form constRegulat-form constRegulat__form_mb100">
    <div class="accardion-content constRegulat__headerDoc">
     <div class="constRegulat__container">
      <div class="section-header">
       <h2 class="section-header__title section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">3.</span> Состав, последовательность и сроки выполнения
        административных процедур (действий), требования к порядку их выполнения</h2>
      </div>
      <div class="constRegulat-form-headerDoc">
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="threeP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="constRegulat-form__blockBtn constRegulat-form__blockBtn_mt3 constRegulat-form-blockBtn"><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_save" type="submit">Сохранить
      раздел</button><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_tab accardion-triger">Свернуть
      раздел</button></div>
   </form>
   <form action="#" class="accardion-item constRegulat__form constRegulat-form constRegulat__form_mb100">
    <div class="accardion-content constRegulat__headerDoc">
     <div class="constRegulat__container">
      <div class="section-header">
       <h2 class="section-header__title section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">4.</span> Порядок И ФОРМЫ КОНТРОЛЯ ЗА ИСПОЛНЕНИЕМ
        АДМИНИСТРАТИВНОГО РЕГЛАМЕНТА</h2>
      </div>
      <div class="constRegulat-form-headerDoc">
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="fourP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="constRegulat-form__blockBtn constRegulat-form__blockBtn_mt3 constRegulat-form-blockBtn"><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_save" type="submit">Сохранить
      раздел</button><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_tab accardion-triger">Свернуть
      раздел</button></div>
   </form>
   <form action="#" class="accardion-item constRegulat__form constRegulat-form constRegulat__form_mb78">
    <div class="accardion-content constRegulat__headerDoc">
     <div class="constRegulat__container">
      <div class="section-header">
       <h2 class="section-header__title section-header__title_fz24"><span
         class="constRegulat-form-headerDoc-string__paragraph">5.</span> Досудебный (ВНЕСУДЕБНЫЙ) ПОРЯДОК ОБЖАЛОВАНИЯ
        РЕШЕНИЙ И ДЕЙСТВИЙ (БЕЗДЕЙСТВИЯ) ОРГАНА, ПРЕДОСТАВЛЯЮЩЕГО МУНИЦИПАЛЬНУЮ УСЛУГУ, А ТАКЖЕ ЕГО ДОЛЖНОСТНЫХ ЛИЦ
       </h2>
      </div>
      <div class="constRegulat-form-headerDoc">
       <ul class="constRegulat-form-headerDoc__ul">
        <li class="fiveP constRegulat-form-headerDoc__item">
         <div class="constRegulat-form__blockBtn constRegulat-form-blockBtn constRegulat-form__blockBtn_mt2"><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_addPoint" type="submit">Добавить
           подпункт</button><button
           class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_removePoint">Удалить
           пункт</button></div>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="constRegulat-form__blockBtn constRegulat-form__blockBtn_mt3 constRegulat-form-blockBtn"><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_save" type="submit">Сохранить
      раздел</button><button
      class="btn constRegulat-form-blockBtn__btn constRegulat-form-blockBtn__btn_tab accardion-triger">Свернуть
      раздел</button></div>
   </form>
   <div class="send-aprev">
    <div class="section-header">
     <h2 class="section-header__title section-header__title_ml10">Отправить на согласование </h2>
    </div>
    <form action="#" class="send-aprev__form"><input type="text" placeholder="Вставьте электронные почты через пробел"
      class="send-aprev__email"><button type="submit"
      class=" btn send-aprev__btn send-aprev__btn_send">Отправить</button></form>
   </div>
  </div>
 </div>
</section>