<section class="myRegulat">
 <div class="wrapper myRegulat__wrapper">
  <div class="section-header section-header--font700">
   <h2 class="section-header__title section-header__title_font700">Создатель регламента</h2>
  </div>
  <div class="myRegulat-container">
   <div class="myRegulat-container__item myRegulat-container__item_create-personal">
    <div class="create-personal">
     <div class="myRegulat-container-list">
      <div class="myRegulat-container-list__block myRegulat-container-list__block_create-personal-borderNone">
       <div class="myRegulat-container-list__container myRegulat-container-list__container_pdg">
        <ul class="myRegulat-container-list__regulat">
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><label for="#"
            class="create-personal-data__name">Ваши Ф.И.О.</label><input type="text"
            class="create-personal-data__input create-personal-data__input_namePersonal"
            placeholder="Иванов Иван Иванович"></div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><label for="#"
            class="create-personal-data__name create-personal-data__name_mnull">Регламент:</label><input type="text"
            class="create-personal-data__input create-personal-data__input_nameInputReg" value="Новый регламент 6"
            disabled></div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><span class="create-personal-data__name">Дата
            создания:</span>
           <div class="create-personal-data__date">02.10.2020<span class="create-personal-data__time">10:47</span></div>
          </div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><span
            class="create-personal-data__name">Статус:</span><span class="create-personal-data__status">Режим
            комментирования</span></div>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="myRegulat-container__item myRegulat-container__item_prev-vers">
    <div class="prev-vers ">
     <div class="myRegulat-container-list">
      <div class="myRegulat-container-list__block">
       <div class="myRegulat-container-list__container myRegulat-container-list__container_prev-vers">
        <span class="prev-vers__title">Предыдущие версии</span>
        <div class="prev-vers__block">
         <div class="prev-vers__item">
          <div class="prev-vers__header">
           <span class="prev-vers__subtitle">Версия</span>
           <span class="prev-vers__subtitle">Дата изменения</span>
          </div>
          <ul class="prev-vers__ul">
           <li class="prev-vers__point">
            <span class="prev-vers__ver">1</span>
            <div class="prev-vers__date">03.10.2020 12:50</div>
           </li>
           <li class="prev-vers__point">
            <span class="prev-vers__ver">1</span>
            <div class="prev-vers__date">03.10.2020 12:50</div>
           </li>
           <li class="prev-vers__point">
            <span class="prev-vers__ver">1</span>
            <div class="prev-vers__date">03.10.2020 12:50</div>
           </li>

          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<section class="commetRegulat">
 <div class="wrapper myRegulat__wrapper">
  <div class="commetRegulat__container">
   <div class="accardion commetRegulat-item commetRegulat__item commetRegulat__item_left">
    <div class="commetRegulat-item__header commetRegulat-item-header">
     <div class="commetRegulat-item-header__container">
      <div class="commetRegulat-item-header__right">
       <p class="commetRegulat-desc commetRegulat-item-header__header-doc">Приложение 46 к протоколу комиссии по
        повышению качества и доступности государственных и муниципальных услуг и организации межведомственного
        взаимодействия от 10 марта 2021 г. № 8</p>
      </div>
      <span class="commetRegulat-item-header__title">АДМИНИСТРАТИВНЫЙ РЕГЛАМЕНТ</span>
      <p class="commetRegulat-item-header__desc">предоставления администрацией Амурской области муниципальной услуги
       "предоставление финансовой поддержки (субсидий) субъектам малого и среднего предпринимательства”</p>
     </div>

    </div>
    <div class="accardion-item commetRegulat-item-body">
     <div class="section-header section-header--mb2">
      <h2 class="section-header__title section-header__title_fz18">1. Общие положения</h2>
     </div>
     <div class="accardion-content commetRegulat-item-content">
      <div class="commetRegulat-item-body__content">
       <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1. Предмет регулирования
        Административного регламента</div>
       <p class="commetRegulat-item-body__desc commetRegulat-desc">1.1. Административный регламент устанавливает
        стандарт предоставления муниципальной услуги «Предоставление финансовой поддержки (субсидий) субъектам малого
        и среднего предпринимательства, состав, последовательность и сроки выполнения административных процедур по
        предоставлению Муниципальной услуги, требования к порядку их выполнения, в том числе особенности выполнения
        административных процедур в электронной форме, формы контроля за исполнением Административного регламента,
        досудебный (внесудебный) порядок обжалования решений и действий (бездействий) Администрации городского
        округа, должностных лиц.</p>
       <p class="commetRegulat-item-body__desc commetRegulat-desc">1.2. Действие настоящего Административного
        регламента распространяется на субсидии, предоставляемые на территории городского округа в рамках подпрограммы

       </p>
      </div>
      <div class="commetRegulat-item-body__content">
       <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1.2. Круг заявителей</div>
       <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.2 Лицами, имеющими право на
        получение Муниципальной
        услуги, являются субъекты малого и среднего предпринимательства (далее – субъекты МСП), зарегистрированные и
        состоящие на учете в налоговых органах на территории городского округа, осуществляющие деятельность на
        территории городского округа, либо их уполномоченные представители, обратившиеся с запросом о предоставлении
        Муниципальной услуги</p>
      </div>
      <div class="commetRegulat-item-body__content">
       <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1.3. Требования к порядку
        информирования о предоставлении муниципальной услуги</div>
       <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.3. На официальном сайте
        Администрации в сети «Интернет», в Государственной информационной системе «Реестр государственных и
        муниципальных услуг (функций) » (далее – РГУ) и в государственной информационной системе «Портал
        государственных и муниципальных услуг (функций) » (далее – РПГУ) обязательному размещению подлежит следующая
        справочная информация:
        место нахождения и график работы Администрации, ее структурных подразделений,
        предоставляющих Муниципальную услугу;</p>
      </div>
     </div>
     <div class="constRegulat-form-blockBtn commetRegulat-item-body__center">
      <!--<button id="btn_open" class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_open">Развернуть раздел</button>-->
      <button id="btn_close"
       class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_close accardion-triger">Свернуть
       раздел</button>
     </div>
    </div>
    <div class="accardion-item commetRegulat-item-body">
     <div class="section-header section-header--mb2">
      <h2 class="section-header__title section-header__title_fz18">2. Стандарт предоставления муниципальной услуги</h2>
     </div>
     <div class="accardion-content commetRegulat-item-content">
      <div class="commetRegulat-item-body__content">
       <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1. Предмет регулирования
        Административного регламента</div>
       <p class="commetRegulat-item-body__desc commetRegulat-desc">1.1. Административный регламент устанавливает
        стандарт предоставления муниципальной услуги «Предоставление финансовой поддержки (субсидий) субъектам малого
        и среднего предпринимательства, состав, последовательность и сроки выполнения административных процедур по
        предоставлению Муниципальной услуги, требования к порядку их выполнения, в том числе особенности выполнения
        административных процедур в электронной форме, формы контроля за исполнением Административного регламента,
        досудебный (внесудебный) порядок обжалования решений и действий (бездействий) Администрации городского
        округа, должностных лиц.</p>
       <p class="commetRegulat-item-body__desc commetRegulat-desc">1.2. Действие настоящего Административного
        регламента распространяется на субсидии, предоставляемые на территории городского округа в рамках подпрограммы
       </p>
      </div>
      <div class="commetRegulat-item-body__content">
       <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1.2. Круг заявителей</div>
       <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.2 Лицами, имеющими право на
        получение Муниципальной
        услуги, являются субъекты малого и среднего предпринимательства (далее – субъекты МСП), зарегистрированные и
        состоящие на учете в налоговых органах на территории городского округа, осуществляющие деятельность на
        территории городского округа, либо их уполномоченные представители, обратившиеся с запросом о предоставлении
        Муниципальной услуги</p>
      </div>
      <div class="commetRegulat-item-body__content">
       <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1.3. Требования к порядку
        информирования о предоставлении муниципальной услуги</div>
       <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.3. На официальном сайте
        Администрации в сети «Интернет», в Государственной информационной системе «Реестр государственных и
        муниципальных услуг (функций) » (далее – РГУ) и в государственной информационной системе «Портал
        государственных и муниципальных услуг (функций) » (далее – РПГУ) обязательному размещению подлежит следующая
        справочная информация:
        место нахождения и график работы Администрации, ее структурных подразделений,
        предоставляющих Муниципальную услугу;</p>
      </div>
     </div>
     <div class="constRegulat-form-blockBtn commetRegulat-item-body__center">
      <!--<button id="btn_open" class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_open">Развернуть раздел</button>-->
      <button id="btn_close"
       class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_close accardion-triger">Свернуть
       раздел</button>
     </div>
    </div>
   </div>
   <div class="commetRegulat__item commetRegulat-correct">
    <div class="commetRegulat-correct__container">
     <ul class="commetRegulat-correct__ul">
      <!--<li class="commetRegulat-correct__item commetRegulat-correct-item"><span class="commetRegulat-correct-item__title">1. ...”городского округа”</span><textarea name="" id="" cols="15" rows="5" class="commetRegulat-correct-item__desc"></textarea></li>
 <li class="commetRegulat-correct__item commetRegulat-correct-item"><span class="commetRegulat-correct-item__title">2. ...”Государственной информационной системе”</span><textarea name="" id="" cols="15" rows="5" class="commetRegulat-correct-item__desc"></textarea></li>-->
     </ul>
     <div class="constRegulat-form-blockBtn">
      <button id="add-commet" class="btn constRegulat-form-blockBtn__btn commetRegulat-correct__addcommet">Добавить
       комментарий</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<div class="btn-commentAdd"><a href="#" class="btn btn-commentAdd__link">Добавить комментарий</a></div>